.idea
.vscode
.env
.env.*

services/backend/.venv
services/backend/.env
services/backend/__pycache__/
services/backend/app/__pycache__/

services/frontend/.vscode
services/frontend/.output
services/frontend/.data
services/frontend/.nuxt
services/frontend/.nitro
services/frontend/.cache
services/frontend/dist
services/frontend/node_modules
services/frontend/logs
services/frontend/*.log
services/frontend/.DS_Store
services/frontend/.fleet
services/frontend/.idea
services/frontend/.env
services/frontend/.env.*
services/frontend/!.env.example
